.table-div {
    /* margin-top: 50px; */
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
  }

 
  table {
    width:90%; 
    margin-top:10%; 
    /* page-break-after: always */
    page-break-inside: avoid;
    
  }
  
  th {
    /* height: 50x */
  }
  table,
  th,
  td {
    border-collapse: collapse;
  
    /* width: 6400px; */
    border: 1px solid black; 
     table-layout: fixed;
   
  }
  th,
  td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    /* overflow: hidden; */
  }
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(23, 131, 131);
  }
  img {
    width:80px;
   height:80px;

/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
    object-fit:scale-down;

  }
  /* #print {
   display:none
  } */
  /* @media print  {
     
      #print{
        display: block
      }
    } 
  
    @media screen {
      #print{
        display: none
      }
    } */

    .buttons {
      display: flex;
      margin-left: 460px
      
    }